/* BASIC STYLES HERE */
textarea{
    width: 20vw;
    height: 50vh;
    background-color: rgba(255, 228, 196, 0.834) !important;
    overflow-y: auto;
    margin-top: 1em;
    box-shadow: .5px .5px .5px rgba(0, 0, 0, 0.469);
}

.color-picker{
    height: auto;
}

.form{
    padding: 0 !important;
    background: none;
    height: 2em;
    border: none;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.548);
}

.form:enabled{
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.539);
    outline: none;
}

.color-picker{
    background: white;
    border-radius: 100%;
    height: 32px;
    width: 32px;
    padding: .15em;
}

.color-picker::-webkit-color-swatch{
    border-radius: 100%;
    border: 1px solid black;
    background: white;
}

.border-radius{
    border-radius: 100% !important;
}

.mdi-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
}

p{
    font-size: large !important;
    color: rgba(0, 0, 0, 0.571)
}

.card{
    padding: 2em;
    padding-top: 1em;
    background-color: rgba(245, 245, 245, 0.58);
}

.mdi-trash-can-outline{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
}

.card-landing{
    background-image: url("../img/typewriter.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 65vh;
    width: 50vw;
    border-radius: 5px;
}

.landing-text{
    font-size: larger !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7em;
    padding-left: 10em;
    padding-right: 10em;
}